[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/cppack"]
	path = deps/cppack
	url = https://github.com/didzis/cppack.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/dr_libs"]
	path = deps/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "deps/popl"]
	path = deps/popl
	url = https://github.com/badaix/popl.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
